$background-color: #666;
$LoginTitleColor: rgba(#000, 50%);
$LoginBackgroundColor: rgba(#333, 50%);

@import "../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "../node_modules/bootstrap/scss/functions";

$primary: #fff;
$secondary: rgb(179, 179, 179);
$warning: rgb(238, 163, 0);
$menu-bg-color: rgb(83, 149, 249);
$body-bg: $secondary; // body background color
$body-color: #333; // body text color
$nav-tabs-link-active-color: rgb(171, 255, 214);
$nav-link-color: #fff;
$link-hover-color: $nav-tabs-link-active-color;
$nav-pills-link-active-bg: rgba(0, 0, 0, 0);
$nav-pills-link-active-color: rgb(96, 247, 121);
$accordion-button-bg: rgb(86, 86, 86);
$accordion-button-active-bg: rgb(59, 59, 59);
$accordion-button-active-color: #fff;
$component-active-bg: rgb(83, 149, 249);
// Include any default variable overrides here

@import "../node_modules/bootstrap/scss/variables";

// Include any default map overrides here

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

//Buttons
.btn-Reboot {
    --bs-btn-color: #fff;
    --bs-btn-bg: #369cf6;
    --bs-btn-border-color: #369cf6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2280d1;
    --bs-btn-hover-border-color: #2280d1;
    --bs-btn-focus-shadow-rgb: 67, 221, 157;
    --bs-btn-active-color: #369cf6;
    --bs-btn-active-bg: #2280d1;
    --bs-btn-active-border-color: #2280d1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #369cf6;
    --bs-btn-disabled-border-color: #369cf6;
}

.btn-config {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff850b;
    --bs-btn-border-color: #ff850b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e89418;
    --bs-btn-hover-border-color: #e89418;
    --bs-btn-focus-shadow-rgb: 67, 221, 157;
    --bs-btn-active-color: #ff850b;
    --bs-btn-active-bg: #e89418;
    --bs-btn-active-border-color: #e89418;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff850b;
    --bs-btn-disabled-border-color: #ff850b;
}

.btn-scram {
    background: repeating-linear-gradient(45deg,
            #fec820,
            #fec820 4px,
            #1e2221 4px,
            #1e2221 8px);
    --bs-btn-color: #fff;
    --bs-btn-bg: #fec820;
    --bs-btn-border-color: #fec820;
    --bs-btn-hover-color: rgb(255, 92, 92);
    --bs-btn-hover-bg: #e89418;
    --bs-btn-hover-border-color: #e89418;
    --bs-btn-focus-shadow-rgb: 67, 221, 157;
    --bs-btn-active-color: #fec820;
    --bs-btn-active-bg: #e89418;
    --bs-btn-active-border-color: #e89418;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fec820;
    --bs-btn-disabled-border-color: #fec820;
}

$offset: 187;
$duration: 1.4s;

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: $offset;
    }

    50% {
        stroke-dashoffset: calc($offset/4);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $background-color;
}

.alert {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(#000, 50%);
    align-items: center;
    width: 100%;
    height: 100%;

    >div {
        background-color: rgba(gray, 80%);
        min-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >h2,
        >span {
            display: block;
            text-align: center;
            padding: 10px;
            width: 100%;
        }

        >h2 {
            margin: 0;
            font-size: 24px;
            color: white;
            background-color: rgba(#000, 50%);
        }

        >span {
            color: white;
            font-size: 18px;
        }

        >div {
            background-color: rgba(#000, 20%);
            border-radius: 10px;
            margin: 0 10px 10px 10px;

            >button {
                border: solid #000 1px;
                border-radius: 10px;
                font-size: 20px;
                padding: 10px;
                background-color: transparent;
                color: white;
                line-height: 24px;

                &:hover {
                    cursor: pointer;
                    background-color: lighten(rgba($LoginBackgroundColor, 20%), 60%);
                }
            }
        }
    }
}

.loading {
    background-color: rgba(160, 160, 160, 0.936);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;

    >div {
        display: grid;
        justify-items: center;
        align-content: center;

        >h2 {
            color: white;
        }

        >.spinner {
            animation: rotator $duration linear infinite;

            >.path {
                stroke-dasharray: $offset;
                stroke-dashoffset: 0;
                transform-origin: center;
                animation:
                    dash $duration ease-in-out infinite,
                    colors ($duration*4) ease-in-out infinite;
            }
        }
    }
}

#menu {
    background-color: $menu-bg-color;
    padding: 0;

    .nav-link {
        &.server {
            color: rgb(255, 61, 55);

            &:hover {
                color: rgb(223, 45, 45);
            }

            &.powerOn {
                color: rgb(54, 252, 54);

                &:hover {
                    color: rgb(106, 211, 106);
                }
            }
        }

    }
}

#configs{
    padding-left:12px!important;
    .nav-link{
        color: black;
        &.active{
            background-color: $menu-bg-color;
            color:white;
        }
    }
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.input-group{
    input:focus{
        box-shadow: none;
    }
}

.index {
    text-align: center;
    display: flex;
    height: 100%;
    background: url("/img/index_background.png") no-repeat center center fixed;
    background-size: cover;

    >.login {
        margin: auto;
        background-color: $LoginBackgroundColor;
        width: 400px;


        >.header {
            background-color: $LoginTitleColor;
            font-size: 24px;
            padding: 10px 0;
            color: white;
        }

        >.infos {
            color: white;
            margin-top: 20px;

            >form {
                >.field {
                    margin: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000 1px;
                    border-radius: 10px;
                    background-color: rgba($LoginBackgroundColor, 20%);

                    >label {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;

                        >span {
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($LoginBackgroundColor, 40%);
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                        }
                    }

                    >.textfield {
                        margin: 0;
                        height: 50px;
                        border: 0;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        background-color: rgba($LoginBackgroundColor, 20%);
                        color: white;
                        font-size: 16px;

                        &::placeholder {
                            color: white;
                        }

                        &[type="password"] {
                            font-size: 24px;

                            &::placeholder {
                                font-size: 16px;
                            }
                        }
                    }
                }

                >.btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: solid #000 1px;
                    border-radius: 10px;
                    background-color: rgba($LoginBackgroundColor, 40%);
                    margin-bottom: 20px;

                    >*:hover {
                        cursor: pointer;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: lighten(rgba($LoginBackgroundColor, 20%), 60%);
                    }

                    >label {
                        >span {
                            padding: 10px 0 10px 10px;
                        }
                    }

                    >input[type="submit"] {
                        font-size: 20px;
                        padding: 10px;
                        background-color: #ffffff00;
                        border: 0;
                        color: white;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}