<html>
<head>
  <title>Blocky Terminal</title>
  <meta charset="utf-8" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/socket.io.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>

<body>
  <div id="alert" class="alert" style="display:none">
    <div>
      <h2>Alert</h2>
      <span><%= msg == undefined ? "" : msg %></span>
      <div><button onclick='$("#alert").fadeOut("slow")''>Confirm</button></div>
      </div>
    </div>

    <div class="loading">
      <div>
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        <h2>Loading</h2>
      </div>
    </div>
    
    <%- body %>

    <script>
      if ("<%= msg == undefined ? '' : msg %>" != "") {
        $("#alert").fadeIn("slow");
      }
      jQuery(document).on("load", $('.loading').fadeOut("slow"))
    </script>
  </body>

</html>